.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.overviewContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.title {
  color: #1c4980;
  font-size: 18px;
  font-weight: 500;
}
.overviewCards {
  display: flex;
  border-radius: 12px;
  border: 1px solid #dadce0;
  padding-right: 30px;
  overflow-y: auto;
}
.card {
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cardTitle {
  color: #1c4980;
  font-size: 14px;
  font-weight: 600;
}
.cardBody {
  display: flex;
  gap: 10px;
}
.iconFrame {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.iconImg {
  width: 20px;
  height: 20px;
}
.metricContainer {
  color: #1c4980;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 20px;
}
.metricTop {
  display: flex;
  align-items: center;
  gap: 4px;
}
.value {
  color: #1c4980;
  font-size: 20px;
  font-weight: 700;
}
.diff {
  color: #05c165;
  font-size: 12px;
  font-weight: 500;
}
.subText {
  color: #1c4980;
  font-size: 12px;
  font-weight: 500;
}
.horizontalDivider {
  height: 40px;
  border: 1px solid #dadce0;
}
.assessmentCardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.assessmentCard,
.newAssessmentCard {
  width: 388px;
  height: 209px;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #dadce0;
  background: #fff;
}
.newAssessmentCard {
  border: 1px dashed #dadce0;
  background: #f6f8fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
}
.addBtn {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.assessmentCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.assessmentCardTop {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  position: relative;
}
.delete {
  position: absolute;
  right: -40px;
  top: 20px;
  padding: 5px;
  border-radius: 8px;
  background: white;
  border: 1px solid #dadce0;
  font-size: 12px;
  color: #1c4980;
  cursor: pointer;
}
.delete:hover {
  background-color: #f3f3f3;
}
.threeDots {
  height: fit-content;
  padding: 2px 4px;
  cursor: pointer;
}
.assessmentCardMid {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.dateDetails {
  color: #1c4980;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  gap: 10px;
}
.smDivider {
  border: 1px solid #dadce0;
  height: 16px;
}
.date {
  color: #8da4bf;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
  text-wrap: nowrap;
}
.dashDivider {
  border: 1px dashed #dadce0;
  margin: 6px 0px;
}
.assessmentCardBottom {
  display: flex;
  justify-content: space-between;
}
.bottomLeft,
.bottomRight {
  display: flex;
  gap: 16px;
  align-items: center;
}
.bottomLeft > div {
  display: flex;
  flex-direction: column;
}
.bottomRight {
  gap: 40px;
}
.shareBtn {
  display: flex;
  height: 30px;
  padding: 2px 8px 2px 6px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 50px;
  border: 1px solid #1c4980;
  background: #fff;
  color: #1c4980;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.userDotsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative !important;
}
.userDot {
  display: flex;
  padding: 5px 6px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: 700;
  color: white;
  position: absolute;
}

/* mobile css */
.mobileTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons {
  display: flex;
  align-items: center;
}
.icons > img {
  padding: 4px;
}
.mobIconCont {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.activeMob {
  border: 1px solid #0073e6;
  background: #f2f8fe;
}
@media only screen and (max-width: 760px) {
  .overviewCards {
    overflow: hidden;
    flex-wrap: wrap;
    padding-right: 0;
    height: 300px;
    animation-name: swipeDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
  @keyframes swipeDown {
    from {
      height: 0px;
    }
    to {
      height: 300px;
    }
  }
  .endAnimation {
    height: 0px;
    transition: height 0.5s;
  }
  .title {
    font-size: 16px;
  }
  .card {
    gap: 10px;
  }
  .cardTitle {
    font-size: 14px;
    font-weight: 500;
  }
  .value {
    font-size: 16px;
    font-weight: 600;
  }
  .diff {
    font-size: 10px;
  }
  .subText {
    font-size: 10px;
  }
  .metricContainer {
    gap: 10px;
  }
}
