.container {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  overflow: hidden;
  animation-name: fade;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
@keyframes fade {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}
.endFade {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
@keyframes fadeOut {
  from {
    background: rgba(0, 0, 0, 0.5);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

.modal {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dadce0;
  width: 591px;
  animation-name: rise;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
@keyframes rise {
  from {
    transform: translate(0, 100%);
  }
  to {
    transform: translate(0, -50%);
  }
}

.endDown {
  animation-name: endDown;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes endDown {
  from {
    transform: translate(0, -50%);
  }
  to {
    transform: translate(0, 100%);
  }
}

.modalTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: #1c4980;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #dadce0;
}
.mid {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.label {
  color: #1c4980;
  font-size: 16px;
  font-weight: 500;
}
.txtInp,
.select,
.skills {
  width: 100%;
  outline: none;
  color: #1c4980;
  font-size: 14px;
  font-weight: 500;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #dadce0;
  background: #fff;
}
.skills {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  display: flex;
  gap: 10px;
}
.skillCell {
  border-radius: 22px;
  background: #ddedff;
  padding: 6px 8px 6px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  font-size: 12px;
}
.bottom {
  padding: 20px 30px;
}
.save {
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #0073e6;
  padding: 10px 30px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.error {
  border: 2px solid red;
}
@media only screen and (max-width: 760px) {
  .modal {
    width: 100vw;
    height: fit-content;
    top: 100%;
    transform: translate(0, -100%);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  @keyframes rise {
    from {
      transform: translate(0, 100%);
    }
    to {
      transform: translate(0, -100%);
    }
  }
  @keyframes endDown {
    from {
      transform: translate(0, -100%);
    }
    to {
      transform: translate(0, 100%);
    }
  }
}
